@charset "utf-8";

@font-face {
    font-family: 'Stem';
    src: url('../fonts/Stem-Regular.eot');
    src: url('../fonts/Stem-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stem-Regular.woff2') format('woff2'),
        url('../fonts/Stem-Regular.woff') format('woff'),
        url('../fonts/Stem-Regular.ttf') format('truetype'),
        url('../fonts/Stem-Regular.svg#Stem-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{box-sizing: border-box; font-family: 'Stem';}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}



.wrap{
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    color: #5c5c5c;
}


/* header part */
#header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
#header header{
    width: 100%;
    height: 70px;
    background-color: #fff;
    transition: height 0.5s;
}
#header.fixed header{
    height: 50px;
    box-shadow: 0 0 3px #5c5c5c;
}
#header header .wrap{
    height: 100%;
    position: relative;
}
#header header .wrap .logo{
    width: 300px;
    height: 115px;
    background: url(../img/logo-img1.png) no-repeat 50% 50%; 
    background-size: cover;
    position: absolute;
    top: 0;
    left: -70px;
    transition: all 0.5s;
}
#header.fixed header .wrap .logo{
    height: 0;
    left: 10px;
}
#header header .wrap .logo a{
    display: block;
    position: relative;
}
#header header .wrap .logo a img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    height: 88px;
    transition: height 0.5s;
}
#header.fixed header .wrap .logo a img{height: 50px;}

#header header .wrap nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header header .wrap nav ul{display: flex;}
#header header .wrap nav ul li{margin: 0 20px;}
#header header .wrap nav ul li a{
    display: block;
    line-height: 70px;
    color: #5C5C5C;
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
}
#header.fixed header .wrap nav ul li a{line-height: 50px;}
#header header .wrap nav ul li a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #755562;
}
#header header .wrap nav ul li:hover a,
#header header .wrap nav ul li.active a{
    color: #755562;
    transition: color 0.5s;
}
#header header .wrap nav ul li:hover a::after{
    width: 100%;
    transition: width 0.5s;
}

#header header .wrap .sign_up{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
#header header .wrap .sign_up a{
    display: block;
    width: 180px;
    border-radius: 5px;
    background-color: #5E889E;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 30px;
}
#header header .wrap .sign_up a span{}
#header header .wrap .sign_up:hover a{
    background-color: #999;
    color: #755562;
    transition: background-color 0.3s, color 0.3s;
}


/* sub_banner part */
#sub_banner{
    height: 350px;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: 50% 25%;
}
#sub_banner .cloud{
    width: 100%; height: 100%;
    background-image: url(../img/cloud.png);
    background-position: 0% 50%;
    background-repeat: no-repeat;
    animation: 160s moveCloud infinite linear;
}
@keyframes moveCloud{
    0%{background-position: 0% 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}
#sub_banner .cloud .wrap{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#sub_banner .cloud .wrap .title_part{padding-bottom: 40px;}
#sub_banner .cloud .wrap .title_part h2{
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    color: #5c5c5c;
    text-transform: uppercase;
}
#sub_banner .cloud .wrap .title_part h2 span{
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #5c5c5c;
    text-transform: uppercase;
}


/* footer */
#footer footer{
    width: 100%; height: 160px;
    background-color: #5c5c5c;
}
#footer footer .wrap{
    width: 1200px; height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    /* background-color: #ffa; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#footer footer .wrap .copyright{}
#footer footer .wrap .copyright ul{}
#footer footer .wrap .copyright ul li{font-size: 14px; color: #fff;}

#footer footer .wrap .sns{}
#footer footer .wrap .sns ul{display: flex;}
#footer footer .wrap .sns ul li{margin: 0 10px;}
#footer footer .wrap .sns ul li:last-child{margin-right: 0;}
#footer footer .wrap .sns ul li a{}
#footer footer .wrap .sns ul li a img{
    height: 36px;
}
#footer footer .wrap .sns ul li a img:hover{
    filter: invert(10%);
    transition: filter 0.5s;
}


